@inherits LayoutComponentBase
<div class="page">
    <main class="game-container">
        <div class="top-row px-4">
            <h3>Peg Solitaire</h3>
        </div>

        <article class="content px-4 game-container">
            @Body
        </article>
    </main>
</div>