@font-face {
    font-family: 'SevenSegFS';
    src: url('./fonts/segment.otf.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}


.peg-solitaire-board-container {
    width: 100vh;
    height: 80vh;
}

.lcd {
    font-family: 'SevenSegFS', monospace;
    color: #000;
    background: #303c36;
    text-shadow: 0 0 4px rgba(0, 255, 0, 0.2),
    0 0 8px rgba(0, 255, 0, 0.15);
}