@page "/"
@using PegSolitaire.Components

<PageTitle>Peg Solitaire</PageTitle>

<div>
    <PegSolitaireGame/>
</div>

<div class="fine-print">
    <p class="small"><small>The segment font by <a href="https://fontstruct.com/fontstructors/501385/mylicia">Mylicia</a> is available under a <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Share Alike license</a>.</small></p>
</div>

@code {

}